
@{
    int sn = 1;
    DateTime currentDateTime = DateTime.Now;
    string formattedDate = currentDateTime.ToString("MM/dd/yyyy");
}
<div class="container">
    <h1 class="text-center mb-3">Task List</h1>
    <div class="d-flex justify-content-end w-100 mb-4">
        <div class="w-100">
            <form class="w-100 d-flex align-items-center" style="gap:5px" asp-controller="Admin" asp-action="index" method="post">
                <label>From</label>
                <input type="date" name="FromDate" value="@Model.strFromDate" class="form-control" />
                <label>To</label>
                <input type="date" name="ToDate" value="@Model.strToDate" class="form-control" />
                
                @Html.DropDownList("EmployeeId", ViewBag.EmployeeList, "Select Employee", new { @class = "form-control" })
                
                <div class="d-flex w-100" style="gap:5px">
                    <input class="form-control mr-sm-2 w-100" type="text" placeholder="Search by Task" name="SearchTerm">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    @if (Model.CanAddTask)
    {
        <div class="d-flex justify-content-end w-100 mb-4">
            <button id="showAddPopupBox" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
                Add Task
            </button>
        </div>
    }
    <div>
        <table id="myTable" class="table mt-4 table-stripped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>SN</th>
                    <th>Task</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>IP-Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.TaskList)
                {
                    <tr>
                        <td>@(sn++)</td>
                        <td>@Html.Raw(task.Task)</td>
                        <td>@(task.Employee.Name)</td>
                        <td>@(task.TaskPerformedDate)</td>
                        <td>@(task.Ipaddress)</td>
                        <td>
                            @if ((int)TempData["activeUser"] == task.EmployeeId && formattedDate == (task.TaskPerformedDate.ToString("MM/dd/yyyy")).ToString())
                            {
                                <div class="d-flex" style="gap:10px">
                                    @using (Html.BeginForm("deleteTask", "UserTask", FormMethod.Post))
                                    {
                                        <input hidden name="taskId" value="@(task.Id)" />
                                        <button type="submit" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                            </svg>
                                        </button>
                                    }
                                    <button class="btn btn-warning" id=@(task.Id) onclick="showAdminEditBox(this.id);">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                </svg>
                                    </button>
                                </div>

                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>

@section Scripts{
<script>
   
     $(document).ready(function () {
            $('#summernote').summernote({
        placeholder: 'Enter your task',
        tabsize: 2,
        height: 200,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['ul']],
            ['view', ['codeview']],
        ]
       
      });
     
        $("#closeAddPopUpBtn").on("click", () => {
            $("#blurBox").addClass("d-none");
            $("#addDataFormBox").addClass("d-none");
        });

        $("#showAddPopupBox").on("click", () => {
            $("#blurBox").removeClass("d-none");
            $("#addDataFormBox").removeClass("d-none");
        });

        $("#addTodayTask").on("click",()=>{
     event.preventDefault();
      var value = $("#summernote").val();
      if(value === ""){
          $("#emptyAddTaskInputFiled").text("Task is empty")
          return false;
      }
      else{
          const form = document.getElementById("addTaskForm");
    const formAction = "@Url.Action("addTask", "UserTask")";
    form.action = formAction;
    form.submit();
      }
  
    })
        $('#myTable').DataTable();
    });

     function showAdminEditBox(x) {
              $("#blurBox").removeClass("d-none");
            $("#editAdminTaskBox_" + x).removeClass("d-none");
                           $('#summernoteedit_'+x).summernote({
        placeholder: 'Enter your task',
        tabsize: 2,
        height: 200,
          toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['ul']],
            ['view', ['codeview']],
        ]
      });
        }

        function hideAdminEdit(x) {
              $("#blurBox").addClass("d-none");
            $("#" + x).addClass("d-none");
        }

</script>

}
